<table class="table table-bordered products_list_table">
	<thead id="products_price_title" class="table-secondary">
  	<tr>
  	</tr>
	</thead>
	<tbody id="products_list">
    <tr>
    </tr>
	</tbody>
</table>